{% extends 'base.html' %}
{% block content %}

<h1>Preparation Task Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card-task">
      <div class="card-task-content">
        {% comment %} <span class="card-title">{{ plan.name }}</span> {% endcomment %}
        <p>{{ plan.name }} </p>
        <p>{{ plan.get_emoji_display }}</p> 
      </div>
      <div class="card-action">
        <a class="btn btn-warning" href="{% url 'plans_update' plan.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'plans_delete' plan.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}