{% extends 'base.html' %}
{% block content %}

<h1>Preparation Task Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plan.name }}</span>
        <p>{{ plan.get_emoji_display}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'plans_update' plan.id %}">Edit</a>
        <a href="{% url 'plans_delete' plan.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}