{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>🎉Party Game Planner</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> {% endcomment %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFDE4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">&nbsp;&nbsp;PartyGamePlanner<ul>
          {% comment %} <li><a href="/" class="left brand-logo">&nbsp;&nbsp;PartyGamePlanner</a></li> {% endcomment %}
        </ul></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'games_create' %}">Add a Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">View All My Party Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'plans_create' %}">Add a Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'plans_index' %}">View Available Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% comment %} <li class="nav-item dropdown"> {% endcomment %}
          {% comment %} <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> {% endcomment %}
          {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
          {% endif %}
          </ul>
        </li>
      </ul>
      {% comment %} <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</nav>
  
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal darken-4">
    <div class="right">All Rights Reserved, &copy; 2021 Party Game Planner created by <strong>Janae Boersma</strong>&nbsp;</div>
  </footer>
</body>
</html>



{% comment %} <body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-4">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;PartyGamePlanner</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'games_create' %}">Add a Game</a></li>
            <li><a href="{% url 'index' %}">View All My Party Games</a></li>
            <li><a href="{% url 'plans_create' %}">Add a Task</a></li>
            <li><a href="{% url 'plans_index' %}">View Available Tasks</a></li> 
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal darken-4">
    <div class="right">All Rights Reserved, &copy; 2021 Party Game Planner created by <strong>Janae Boersma</strong>&nbsp;</div>
  </footer>
</body>
</html> {% endcomment %}