body {
  display: flex; 
  font-family: 'Bitter', serif;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to right, #068fd0, #0099ce, #00a2c8, #00aabf, #00b1b4, #00b5aa, #00b89d, #00ba8d, #00ba7b, #00ba65, #00b94b, #08b828);
  background-position: center;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #FFFDE4;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 4%;
}

h4 {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 4%;
}

table {
  margin-top: 20px;
  justify-content: center;
  font-size: larger;
}

html {
  height:100%;
}

.gif {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.add-game-table {
  margin: auto;
}

.task-button {
  margin-left: 12rem;
  margin-top: 1rem;
}

.task-table {
  font-size: larger;
  margin: auto;
}

.game-detail-button{
  margin-left: 9%
}

.form {
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 20%;
}

.navbar-brand {
  margin-top: 1%;
  font-size: 1.5rem;
}

.party-card {
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height:fit-content;
  margin-top: 5%;
  padding: 3%;
  border-radius: 3%;
  margin-left: 30px;
}

.btn-success {
  display: flex;
  flex: center;
  margin: auto;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}

.btn-warning {
  display: flex;
  flex: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.game-cancel {
  display: flex;
  flex: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
}

.btn-danger {
  display: flex;
  flex: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card {
  background: #2193b0;  
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  border-radius: 5%;
  border-color: lemonchiffon;
  border-width: .4rem;
  padding: 10%;
  margin-bottom: 5%;
}

.photo-card {
  background-color: linen;
  border-radius: 3%;
  border-color: lemonchiffon;
  padding: 3%;
  margin-bottom: 5%;
}

.card-game-detail {
  background: #2193b0;  
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
  background: linear-gradient(to right, #6dd5ed, #2193b0); 
  padding: 5%;
  margin-bottom: 2%;
  border-radius: 2%;
  border-color: lemonchiffon;
  border-width: .2rem;
}

.card-task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border-radius: 42px;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
/* 
  background: #007991; 
  background: -webkit-linear-gradient(to right, #78ffd6, #007991); 
  background: linear-gradient(to right, #78ffd6, #007991); */
  text-align: center;
  min-width: 10rem;
  max-width: 20rem;
  margin: auto;
  margin-top: 1rem;
  padding: 10px;
}

#list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-template-rows: 350px auto 80px; 
  column-gap: 50px;
  row-gap: 20px;
  margin-left: 15.5%;
  margin-top: 6%;
 
}

#task { 
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-template-rows: 350px auto 80px; 
  column-gap: 40px;
  row-gap: 20px;
  margin-left: 15.5%;
  margin-top: 6%;
}

.card-task-content {
  font-size: 2.5rem;
}

.card-task-content-game {
  font-size: 2.3rem;
}

.card-action {
  margin: 5%;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}