body {
  display: flex;
  font-family: 'Bitter', serif;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
  background: #2193b0;  
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
  background: linear-gradient(to right, #6dd5ed, #2193b0); 
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #FFFDE4;
}

html {
  height:100%;
}

.card-task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border-radius: 42px;
  background: linear-gradient(145deg, #96d4b1, #b3fdd3);
  box-shadow:  17px 17px 31px #72a086;
              /* -17px -17px 100px #dcffff; */
  text-align: center;
  min-width: 10rem;
  max-width: 20rem;
  margin: 20px;
  padding: 10px;
}

.card-task-content {
  font-size: 2.5rem;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}