{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <h1 class="card-title">{{ game.name }}</h1>
        <h4> {{ game.description }}</h4>
        <p><strong>Instructions:</strong> {{ game.instructions }}</p>
        <p><strong>Materials:</strong> {{ game.materials }}</p>
        <p><strong>Where you play:</strong> {{ game.get_where_display }}</p>
        {% if game.number > 0 %}
          <p><strong>Number of People:</strong> {{ game.number }}</p>
        {% else %}
          <p><strong>Number of People:</strong> However many you want</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a class="btn btn-light game-detail-button" href="{% url 'games_update' game.id %}">Edit Game</a>
        <a class="btn btn-light game-detail-button" href="{% url 'games_delete' game.id %}">Delete Game</a>
      </div>
    </div class=photo-card>
    {% for photo in game.photo_set.all %}
      <img class="photo-card" src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <input class="btn btn-light" type="submit" value="Upload Photo">
    </form>
  </div>
  <div class="col s6">
    <form action="{% url 'add_party' game.id%}" method="post">
      {% csrf_token %}
      {{ party_form.as_p }}
      <input type="submit" class="btn btn-warning" value="Add Party">
    </form>
    <table class="table table-warning table-striped">
      <thead>
        <tr><th>Date</th><th>Party</th></tr>
      </thead>
      <tbody>
        {% for party in game.party_set.all %}
          <tr>
            <td>{{ party.date }}</td>
            <td>{{ party.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>What you've done to prepare for the game {{ game.name }}</h3>
    {% if game.plans.count %}
      {% for plan in game.plans.all %}
        <div class="card-task">
          <div class="card-content">
            <span class="card-title">
              {{ plan.name }}
              {{ plan.get_emoji_display }}
              </span>
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>What do you have done?</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Preparation Tasks</h3>
    {% if plans.count %}
      {% for plan in plans.all %}
        <div class="card-task">
          <div class="card-content">
            <span class="card-title">
              {{ plan.name }}
              {{ plan.get_emoji_display }}
              </span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_plan' game.id plan.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{ game.name }} is ready to play!</h5>
    {% endif %}
  </div>
</div>

{% endblock %}

