{% extends 'base.html' %}
{% block content %}

<h1>Game List</h1>

{% for game in games %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">{{ game.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ game.materials }}</li>
        <li class="list-group-item">{{ game.where }}</li>
        <li class="list-group-item">{{ game.number }}</li>
            <a href="{% url 'detail' game.id %}" class="btn btn-primary">Game Details</a>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}